.recuadro {
  width: 100%;
  border: 2px outset black;
  padding: 10px;
  margin: 10px;
  background: linear-gradient(-65deg, #00b4d8, #6ad6ec, #a8d6de, #bbdde4, #ffffff);
  animation: fondo 2s ease 0s 1 normal forwards;
  }

  .nombre {
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-size: large;
  }
  .recuadro:hover{
    box-shadow: 0 0 20px rgb(0, 0, 0);
  }

  .descripcion {
    font-style: italic bold;
    color: rgb(0, 0, 0);
    font-size: large;
  }

  .marquesina {
    border:10px solid rgb(60, 0, 255)(116, 0, 0);
    padding: 10px;
    margin: 10px;
    text-shadow: 9px 7px 10px #2381ed;
    font-size: 25px;
    font-weight: 900;
    font-family: 'Trebuchet MS';
  }

 
.recuadro li span:first-child {
    transform: scale(1);
    transition: transform 0.3s;
  }

  .recuadro li:hover span:first-child {
    transform: scale(2);
  }

.container{
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  animation: cardpeque 2s ease 0s 1 normal forwards;
}

.card{
  background: linear-gradient(-65deg, #00b4d8, #6ad6ec, #a8d6de, #bbdde4, #ffffff);
  width: 330px;
  height: 510px;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0);
  overflow: hidden;
  margin: 20px;
  text-align: center;
  transition: all 0.25s;
}

.container .card:hover{
  transform: translateY(-20px);
  box-shadow: 32px 60px 15px -14px rgba(0,0,0,0.75);;
}

.container.card img{
  width: 330px;
  height: 220px;
}

@import url('https://fonts.googleapis.com/css?family=Dosis|Quicksand');
.container.card h4{
  font-weight: 600;
  font-family: 'Times New Roman', Times, serif;
}

.container .card p{
  padding: 0 1rem;
  font-size: 16px;
  font-weight: 300;
  font-family: Arial, Helvetica, sans-serif;
}
  
  /* animacions  */

  @keyframes cardpeque {
    0% {
      transform: scale(0);
      transform-origin: 50% 0%;
    }
  
    100% {
      transform: scale(1);
      transform-origin: 50% 0%;
    }
  }
  @keyframes marquee {
    from {
      left: 100%;
    }
  
    to {
      right: 100%;
    }
  }
  @keyframes fondo {
    /* Usamos los porcentajes para indicar cómo cambia el gradiente */
    0% {
      /* El gradiente empieza con el primer color en la esquina superior izquierda */
      background-position: 0% 0%;
    }
    50% {
      /* El gradiente llega al último color en la esquina inferior derecha */
      background-position: 100% 100%;
    }
    100% {
      /* El gradiente vuelve al primer color en la esquina superior izquierda */
      background-position: 0% 0%;
    }
  }
