<nav
  aria-label="breadcrumb"
  style="margin: 20px; padding: auto; margin-left: 50px"
>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">
      Historias de Exito
    </li>
  </ol>
</nav>
<div class="externo">
  <div class="interno animate__animated animate__backInLeft">
    <strong><h5>Testimonios y Experiencias Exitosas</h5></strong>
  </div>
</div>
<br />
<div class="img-header animate__animated animate__backInLeft">
  <img src="assets/img/school2.png" alt="" />
</div>
<br />
<div class="col animate__animated animate__backInLeft">
  <div class="row">
    <div class="col-sm">
      <div class="card" style="width: 100%">
        <img src="assets/img/c1.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Alianzas poderosas</h5>
          <p class="card-text">
            Convenio con las empresas MTI Consultoría SA de CV y NAD Global,
            S.A. de C.V., dichas alianzas tienen como finalidad el
            fortalecimiento ambas instituciones.
          </p>
          <div style="text-align: center">
            <a href="#" class="btn">Ver más</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 100%">
        <img src="assets/img/c2.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Reconocimiento internacional</h5>
          <p class="card-text">
            Tres estudiantes fueron seleccionados para integrar la misión de
            intercambio internacional a China como resultado de la convocatoria
            del Instituto Estatal de la Juventud Guanajuatense (INJUG).
          </p>
          <div style="text-align: center">
            <a href="#" class="btn">Ver más</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 100%">
        <img src="assets/img/c3.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Emprendimiento de los estudiantes</h5>
          <p class="card-text">
            Dos estudiantes Mario Alberto Muñoz Guerrero y Gustavo Alejandro
            Mata Herrera, realizaron una extrusora de filamento para impresora
            3D, que trabaja con residuos plásticos.
          </p>
          <div style="text-align: center">
            <a href="/empre" class="btn">Ver más</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
