
.navbar {
  background-color: #063970 !important;
}

.img-header {
  text-align: center;
}

.container {
  text-align: center!important;
}

.externo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.interno {
  text-align: center;
  background-color: #f5f5f5;
  color: black;
  font-weight: bold;
  box-shadow: 4px 4px 4px #888888;
  height: auto;
  padding: 15px;
  width: 35%;
}


.card {
  transition: all 0.25s;
  box-shadow: 0 12px 14px rgba(0, 0, 0, 0.2);
}

.card:hover {
  cursor: pointer;
  transform: translateY(-15px);
}

.card-title {
  font-size: larger;
}

.card-text {
  height: 200px;
  text-align: justify;
  color: gray;
}

.footer {
  background-color: #063970 !important;
}

.marquee-container {
  width: 100%;
  overflow: hidden;
}

.marquee-text {
  animation: marquee 10s linear infinite;
}

@keyframes marquee {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

/* Valores.component.css */
.container {
  margin: 20px;
}

.recuadro {
  border: 2px solid black;
  padding: 10px;
  margin: 10px;
}

.nombre {
  font-weight: bold;
  color: blue;
}

.descripcion {
  font-style: italic;
  color: green;
}

.marquesina {
  border: 2px dashed red;
  padding: 10px;
  margin: 10px;
}
