<nav
  aria-label="breadcrumb"
  style="margin: 20px; padding: auto; margin-left: 50px"
>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item"><a href="/exito">Historias de Exito</a></li>
    <li class="breadcrumb-item active" aria-current="page">Emprendimientos</li>
  </ol>
</nav>
<div class="externo">
  <div class="interno animate__animated animate__backInLeft">
    Emprendimiento de los estudiantes
  </div>
</div>
<br />
<div
  class="row animate__animated animate__backInLeft"
  style="margin: 20px; padding: auto; margin-left: 50px"
>
  <h6>
    La historia de Mario Alberto Muñoz Guerrero y Gustavo Alejandro Mata
    Herrera, dos estudiantes excepcionales de nuestra universidad.
  </h6>
</div>
<br />
<div
  class="animate__animated animate__backInLeft"
  style="margin: 20px; padding: auto; margin-left: 50px"
>
  <div style="margin: 20px; display: flex; align-items: center">
    <img
      src="https://scontent.fcyw4-1.fna.fbcdn.net/v/t1.15752-9/405166106_6964032716965542_8219429037561024801_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=8cd0a2&_nc_ohc=vlu4AzxpSWAAX-zeZHQ&_nc_ht=scontent.fcyw4-1.fna&oh=03_AdSeMd9f4mjZgEQyk7DNZ4EvE8iuq4UeQv0LzNx1uO-5Ug&oe=658DCD73"
      alt="Imagen de 2 jóvenes estudiosos"
      class="pla1"
      width="250px"
      height="250px"
      style="margin-right: 20px"
    />
    <div>
      <p>
        Mario y Gustavo son un ejemplo inspirador de cómo la educación superior
        puede desencadenar la innovación y el espíritu emprendedor. Durante su
        tiempo en nuestra institución, estos dos jóvenes se unieron para
        trabajar en un proyecto ambicioso: desarrollar una extrusora de
        filamento para impresora 3D que utiliza residuos plásticos como materia
        prima. Esta innovación no solo demuestra su compromiso con la
        sostenibilidad, sino que también muestra su habilidad para abordar
        problemas complejos y encontrar soluciones creativas.
      </p>
      <p>
        Lo emocionante es que su proyecto no se quedó solo en la teoría. Gracias
        a nuestras conexiones con la industria, pudieron acceder a recursos y
        orientación para llevar su invención al siguiente nivel. Esto les
        permitió presentar su idea a empresas interesadas en soluciones
        sostenibles y tecnológicas. Como resultado, su proyecto se convirtió en
        una realidad comercial exitosa, lo que no solo les brindó
        reconocimiento, sino también una oportunidad para hacer una diferencia
        real en la lucha contra la contaminación plástica y la promoción de
        tecnologías limpias. Esta historia es un ejemplo de cómo nuestra
        universidad no solo se enfoca en la educación académica, sino que
        también fomenta la aplicación práctica del conocimiento. Nuestros
        estudiantes tienen la oportunidad de colaborar con mentores y expertos
        de la industria, lo que les brinda una ventaja significativa a medida
        que avanzan en sus carreras. Al invertir en la educación de sus hijos en
        nuestra universidad, les están brindando la oportunidad de explorar su
        creatividad, desarrollar soluciones innovadoras y, finalmente, alcanzar
        el éxito en un mundo que valora la visión y la excelencia. Estas son las
        experiencias que moldearán el futuro de sus hijos y les ayudarán a
        prosperar en cualquier campo que elijan. ¡No dejen pasar esta
        oportunidad de un futuro brillante para sus hijos!
      </p>
    </div>
  </div>
</div>
<br />
<div
  class="animate__animated animate__backInLeft"
  style="margin: 20px; padding: auto; margin-left: 50px"
>
  <div class="more" style="width: 50%">
    <h4>Más historias de éxito</h4>
    <div style="margin: 20px; display: flex; align-items: center">
      <img
        src="https://scontent.fcyw4-1.fna.fbcdn.net/v/t1.15752-9/406106261_1404521176801060_1148014141194252170_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=8cd0a2&_nc_ohc=Fvksi1NkTX0AX-1Gou3&_nc_oc=AQnULfMDBU2xH63fyUt7ai2I1OZdjoEz-HwRhpebb2DYYsXxug4wxKJHpnCC7GSk9Bo&_nc_ht=scontent.fcyw4-1.fna&oh=03_AdQwZFK9nCGpYPGGM3ksvWOowZBWd5RorS77AsJQX00tZA&oe=658DDDFA"
        alt="Imagen de 2 jóvenes estudiosos"
        class="pla1"
        width="250px"
        height="250px"
        style="margin-right: 20px"
      />
      <div>
        <p>
          Estudiantes fueron seleccionados para integrar la misión de
          intercambio internacional a China como resultado de la convocatoria
          del Instituto Estatal de la Juventud Guanajuatense (INJUG).
          Permitiendo presentar su idea a empresas
        </p>
      </div>
    </div>
  </div>
  <div class="info-contacto"></div>
</div>
<!-- <model-viewer
  src="https://cdn.glitch.com/36cb8393-65c6-408d-a538-055ada20431b/Astronaut.glb?1542147958948"
  ios-src="https://cdn.glitch.com/36cb8393-65c6-408d-a538-055ada20431b/Astronaut.usdz?v=1569545377878"
  poster="shared-assets/images/capy.jpg"s
  alt="A 3D model of an astronaut"
  shadow-intensity="1"
  camera-controls
  auto-rotate
  ar
>
</model-viewer> -->
