<nav aria-label="breadcrumb" style="margin: 20px; padding: auto; margin-left: 50px">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Home</li>
  </ol>
</nav>

<section>
  <div>
    <h1 style="margin: 2.5%; margin-left: 5%; color: #063970">Inicio</h1>
  </div>
  <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <a href="/carreras">
          <img src="../../../assets/img/carreras.png" class="d-block w-100" alt="Imagen 1">
        </a>
      </div>
      <div class="carousel-item">
        <a href="/becas">
          <img src="../../../assets/img/becas.png" class="d-block w-100" alt="Imagen 2">
        </a>
      </div>
      <div class="carousel-item">
        <a href="/">
          <img src="../../../assets/img/nosotros.png" class="d-block w-100" alt="Imagen 3">
        </a>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Siguiente</span>
    </button>
  </div>
  <br>
  <div>
    <h1 style="margin: 2.5%; margin-left: 5%; color: #063970; text-align: center;">Bienvenido</h1>
    <h2 style="margin: 2.5%; margin-left: 5%; text-align: center;">Orgullosamente Aguilas</h2>
  </div>
  <br>
  <div class="centered-image">
    <img src="../../../assets/vid/Agila.gif" alt="Imagen Central">
  </div>
</section>